body{
    margin: 0;
    font-family: 'Crimson Text', serif;
    
}
h1{
    font-size: 50px;
    
}
h2{
    font-size: 40px;
}

p{
    color: dimgray;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding left:2%;
}
.half-width img{
    width: 100%;
}

section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    
}


footer{
    text-align: center;
    font-size: 12px;
}
.working-headline{
    text-align: center;
}
.working-area{
    width: 25%;
    float: left;
    margin-left: 3%;
    padding left:1%;
    
}
.working-area img{
    width: 100%;
}
.work-inquiry img{
    width: 50%;
    
}